/*final word about code highlight*/

pre code {
	font-size: 90%;
	word-wrap: normal;
	white-space: pre;
}

pre {
	padding: 10px;
	margin: 0;
	/*border: 1px solid #ccc;*/
}

code {
	font-family: Menlo, Monaco, monospace;
}


blockqoute  p {
	margin: 0;
}