@import url("//fonts.googleapis.com/css?family=Lato|Lato|Lato");
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../../compass/sass/_typography.scss */
html {
  font-family: "Lato", serif;
  line-height: 1.5;
}

/* line 14, ../../compass/sass/_typography.scss */
body {
  color: #515151;
  background-color: #fff;
}

/* line 18, ../../compass/sass/_typography.scss */
a {
  color: #268bd2;
  text-decoration: none;
}

/* line 22, ../../compass/sass/_typography.scss */
a:hover,
a:focus {
  text-decoration: underline;
}

/* line 27, ../../compass/sass/_typography.scss */
strong {
  color: #303030;
}

/*
Vertical Rhythm from:
http://www.sitepoint.com/using-sass-build-custom-type-scale-vertical-rhythm/
*/
/* line 88, ../../compass/sass/_typography.scss */
p, li {
  font-size: 12px;
  line-height: 1.3;
}

/* line 88, ../../compass/sass/_typography.scss */
blockquote {
  font-size: 14.4px;
  line-height: 1.08333;
}

/* line 88, ../../compass/sass/_typography.scss */
h3 {
  font-size: 17.28px;
  line-height: 1.80556;
}

/* line 88, ../../compass/sass/_typography.scss */
h2 {
  font-size: 20.736px;
  line-height: 1.50463;
}

/* line 88, ../../compass/sass/_typography.scss */
h1 {
  font-size: 24.8832px;
  line-height: 1.25386;
}

/* line 88, ../../compass/sass/_typography.scss */
.hero {
  font-size: 29.85984px;
  line-height: 1.04488;
}

@media (min-width: 480px) {
  /* line 88, ../../compass/sass/_typography.scss */
  p, li {
    font-size: 14px;
    line-height: 1.3;
  }

  /* line 88, ../../compass/sass/_typography.scss */
  blockquote {
    font-size: 16.8px;
    line-height: 1.08333;
  }

  /* line 88, ../../compass/sass/_typography.scss */
  h3 {
    font-size: 20.16px;
    line-height: 1.80556;
  }

  /* line 88, ../../compass/sass/_typography.scss */
  h2 {
    font-size: 24.192px;
    line-height: 1.50463;
  }

  /* line 88, ../../compass/sass/_typography.scss */
  h1 {
    font-size: 29.0304px;
    line-height: 1.25386;
  }

  /* line 88, ../../compass/sass/_typography.scss */
  .hero {
    font-size: 34.83648px;
    line-height: 1.04488;
  }
}
@media (min-width: 960px) {
  /* line 88, ../../compass/sass/_typography.scss */
  p, li {
    font-size: 16px;
    line-height: 1.4;
  }

  /* line 88, ../../compass/sass/_typography.scss */
  blockquote {
    font-size: 19.2px;
    line-height: 1.16667;
  }

  /* line 88, ../../compass/sass/_typography.scss */
  h3 {
    font-size: 23.04px;
    line-height: 1.94444;
  }

  /* line 88, ../../compass/sass/_typography.scss */
  h2 {
    font-size: 27.648px;
    line-height: 1.62037;
  }

  /* line 88, ../../compass/sass/_typography.scss */
  h1 {
    font-size: 33.1776px;
    line-height: 1.35031;
  }

  /* line 88, ../../compass/sass/_typography.scss */
  .hero {
    font-size: 39.81312px;
    line-height: 1.12526;
  }
}
@media (min-width: 1280px) {
  /* line 88, ../../compass/sass/_typography.scss */
  p, li {
    font-size: 18px;
    line-height: 1.5;
  }

  /* line 88, ../../compass/sass/_typography.scss */
  blockquote {
    font-size: 21.6px;
    line-height: 1.25;
  }

  /* line 88, ../../compass/sass/_typography.scss */
  h3 {
    font-size: 25.92px;
    line-height: 1.04167;
  }

  /* line 88, ../../compass/sass/_typography.scss */
  h2 {
    font-size: 31.104px;
    line-height: 1.73611;
  }

  /* line 88, ../../compass/sass/_typography.scss */
  h1 {
    font-size: 37.3248px;
    line-height: 1.44676;
  }

  /* line 88, ../../compass/sass/_typography.scss */
  .hero {
    font-size: 44.78976px;
    line-height: 1.20563;
  }
}
/* line 113, ../../compass/sass/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #313131;
  text-rendering: optimizeLegibility;
  font-family: "Lato", sans-serif;
}

/* line 124, ../../compass/sass/_typography.scss */
h5, h4, p {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

/* line 128, ../../compass/sass/_typography.scss */
h3 {
  margin-top: .75rem;
  margin-bottom: .5rem;
}

/* line 132, ../../compass/sass/_typography.scss */
h2, h1 {
  margin-top: 1.0rem;
  margin-bottom: .5rem;
}

/* line 138, ../../compass/sass/_typography.scss */
h1.title, h2.title {
  font-family: "Lato";
}

/* line 142, ../../compass/sass/_typography.scss */
h1.site-title {
  font-family: "Lato";
}

/*
 *  __                  __
 * /\ \                /\ \
 * \ \ \___   __  __   \_\ \     __
 *  \ \  _ `\/\ \/\ \  /'_` \  /'__`\
 *   \ \ \ \ \ \ \_\ \/\ \_\ \/\  __/
 *    \ \_\ \_\/`____ \ \___,_\ \____\
 *     \/_/\/_/`/___/> \/__,_ /\/____/
 *                /\___/
 *                \/__/
 *
 * Designed, built, and released under MIT license by @mdo. Learn more at
 * https://github.com/poole/hyde.
 */
/*
 * Contents
 *
 * Global resets
 * Sidebar
 * Container
 * Reverse layout
 * Themes
 */
/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */
/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */
/*
 * Themes
 *
 * As of v1.1, Hyde includes optional themes to color the sidebar and links
 * within blog posts. To use, add the class of your choosing to the `body`.
 */
/* Base16 (http://chriskempson.github.io/base16/#default) */
/* Red */
/* line 63, ../../compass/sass/_theme.scss */
.theme-base-08 .sidebar {
  background-color: #ac4142;
}

/* line 66, ../../compass/sass/_theme.scss */
.theme-base-08 .content a,
.theme-base-08 .related-posts li a:hover {
  color: #ac4142;
}

/* Orange */
/* line 72, ../../compass/sass/_theme.scss */
.theme-base-09 .sidebar {
  background-color: #d28445;
}

/* line 75, ../../compass/sass/_theme.scss */
.theme-base-09 .content a,
.theme-base-09 .related-posts li a:hover {
  color: #d28445;
}

/* Yellow */
/* line 81, ../../compass/sass/_theme.scss */
.theme-base-0a .sidebar {
  background-color: #f4bf75;
}

/* line 84, ../../compass/sass/_theme.scss */
.theme-base-0a .content a,
.theme-base-0a .related-posts li a:hover {
  color: #f4bf75;
}

/* Green */
/* line 90, ../../compass/sass/_theme.scss */
.theme-base-0b .sidebar {
  background-color: #90a959;
}

/* line 93, ../../compass/sass/_theme.scss */
.theme-base-0b .content a,
.theme-base-0b .related-posts li a:hover {
  color: #90a959;
}

/* Cyan */
/* line 99, ../../compass/sass/_theme.scss */
.theme-base-0c .sidebar {
  background-color: #75b5aa;
}

/* line 102, ../../compass/sass/_theme.scss */
.theme-base-0c .content a,
.theme-base-0c .related-posts li a:hover {
  color: #75b5aa;
}

/* Blue */
/* line 108, ../../compass/sass/_theme.scss */
.theme-base-0d .sidebar {
  background-color: #6a9fb5;
}

/* line 111, ../../compass/sass/_theme.scss */
.theme-base-0d .content a,
.theme-base-0d .related-posts li a:hover {
  color: #6a9fb5;
}

/* Magenta */
/* line 117, ../../compass/sass/_theme.scss */
.theme-base-0e .sidebar {
  background-color: #aa759f;
}

/* line 120, ../../compass/sass/_theme.scss */
.theme-base-0e .content a,
.theme-base-0e .related-posts li a:hover {
  color: #aa759f;
}

/* Brown */
/* line 126, ../../compass/sass/_theme.scss */
.theme-base-0f .sidebar {
  background-color: #8f5536;
}

/* line 129, ../../compass/sass/_theme.scss */
.theme-base-0f .content a,
.theme-base-0f .related-posts li a:hover {
  color: #8f5536;
}

/* line 3, ../../compass/sass/_sidebar.scss */
.sidebar a {
  color: #fff;
}

/* line 7, ../../compass/sass/_sidebar.scss */
.sidebar {
  text-align: center;
  padding: 2rem 1rem;
  color: rgba(255, 255, 255, 0.5);
  background-color: #202020;
}

/* line 14, ../../compass/sass/_sidebar.scss */
.sidebar-about h1 {
  color: #fff;
  margin: 0;
  font-weight: normal;
  font-size: 3.25rem;
  line-height: 1;
}

/* line 23, ../../compass/sass/_sidebar.scss */
.sidebar-nav {
  padding-left: 0;
  list-style: none;
}

/* line 28, ../../compass/sass/_sidebar.scss */
.sidebar-nav-item {
  display: block;
}

/* line 31, ../../compass/sass/_sidebar.scss */
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: underline;
}

/* line 35, ../../compass/sass/_sidebar.scss */
.sidebar-nav-item.active {
  font-weight: bold;
}

/* on the LEFT */
@media (min-width: 720px) {
  /* line 41, ../../compass/sass/_sidebar.scss */
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    text-align: left;
  }

  /* line 49, ../../compass/sass/_sidebar.scss */
  .sidebar .container {
    position: absolute;
    bottom: 1rem;
  }
}
/* on the TOP */
@media (max-width: 720px) {
  /* line 57, ../../compass/sass/_sidebar.scss */
  .sidebar {
    padding: 0;
  }

  /* line 60, ../../compass/sass/_sidebar.scss */
  .sidebar-about h1 {
    margin: 0;
    padding: 5px;
  }

  /* line 64, ../../compass/sass/_sidebar.scss */
  .sidebar-about p {
    display: none;
  }

  /* line 68, ../../compass/sass/_sidebar.scss */
  ul.sidebar-nav {
    margin: 0;
    padding: 5px 0;
  }
  /* line 71, ../../compass/sass/_sidebar.scss */
  ul.sidebar-nav li {
    display: inline;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0;
    padding-bottom: 0;
  }
  /* line 78, ../../compass/sass/_sidebar.scss */
  ul.sidebar-nav li::after {
    content: ",";
  }

  /* line 82, ../../compass/sass/_sidebar.scss */
  p.sidebar-copyright {
    padding: .5em 0;
    margin: 0;
  }
}
/* line 3, ../../compass/sass/_container.scss */
.container {
  max-width: 60rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

/* line 10, ../../compass/sass/_container.scss */
.content {
  padding: 2rem;
}

/* sidebar ON THE LEFT */
@media (min-width: 720px) {
  /* line 16, ../../compass/sass/_container.scss */
  .content {
    max-width: 50rem;
    margin-left: 18rem;
    padding: 2rem 4rem;
  }
}
/* Code */
/* line 2, ../../compass/sass/_code.scss */
code,
pre {
  font-family: Menlo, Monaco, monospace;
}

/* line 6, ../../compass/sass/_code.scss */
code {
  padding: .25em .25em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}

/* line 13, ../../compass/sass/_code.scss */
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9;
  overflow-y: hidden;
  overflow-x: scroll;
}

/* line 28, ../../compass/sass/_code.scss */
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
  word-wrap: normal;
  white-space: pre;
}

/* line 36, ../../compass/sass/_code.scss */
.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}

/* line 40, ../../compass/sass/_code.scss */
.highlight pre {
  margin-bottom: 0;
}

/*
 * Posts and pages
 *
 * Each post is wrapped in `.post` and is used on default and post layouts. Each
 * page is wrapped in `.page` and is only used on the page layout.
 */
/* line 8, ../../compass/sass/_post.scss */
div.page,
div.post {
  margin-bottom: 4em;
}

/* Blog post or page title */
/* line 14, ../../compass/sass/_post.scss */
.page-title,
.post-title,
.post-title a {
  color: #303030;
}

/* line 19, ../../compass/sass/_post.scss */
.page-title,
.post-title {
  margin-top: 0;
}

/* Meta data line below post title */
/* line 25, ../../compass/sass/_post.scss */
.post-date {
  display: block;
  margin-top: 0rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}

/* List should be displayed properly */
/* line 33, ../../compass/sass/_post.scss */
ol, ul {
  padding-left: 2rem;
}

/* line 37, ../../compass/sass/_post.scss */
ol {
  list-style: decimal;
}

/* line 41, ../../compass/sass/_post.scss */
ul {
  list-style: disc;
}

/* Related posts */
/* line 47, ../../compass/sass/_post.scss */
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}

/* line 52, ../../compass/sass/_post.scss */
.related-posts {
  padding-left: 0;
  list-style: none;
}

/* line 56, ../../compass/sass/_post.scss */
.related-posts h3 {
  margin-top: 0;
}

/* line 59, ../../compass/sass/_post.scss */
.related-posts li small {
  font-size: 75%;
  color: #999;
}

/* line 63, ../../compass/sass/_post.scss */
.related-posts li a:hover {
  color: #268bd2;
  text-decoration: none;
}

/* line 67, ../../compass/sass/_post.scss */
.related-posts li a:hover small {
  color: inherit;
}

/*
 * Pagination
 *
 * Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
 * there are no more previous or next posts to show.
 */
/* line 79, ../../compass/sass/_post.scss */
.pagination {
  overflow: hidden;
  /* clearfix */
  margin-left: -1rem;
  margin-right: -1rem;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  color: #ccc;
  text-align: center;
}

/* Pagination items can be `span`s or `a`s */
/* line 89, ../../compass/sass/_post.scss */
.pagination-item {
  display: block;
  padding: 1rem;
  border: 1px solid #eee;
}

/* line 94, ../../compass/sass/_post.scss */
.pagination-item:first-child {
  margin-bottom: -1px;
}

/* Only provide a hover state for linked pagination items */
/* line 99, ../../compass/sass/_post.scss */
a.pagination-item:hover {
  background-color: #f5f5f5;
}

@media (min-width: 30rem) {
  /* line 104, ../../compass/sass/_post.scss */
  .pagination {
    margin: 3rem 0;
  }

  /* line 107, ../../compass/sass/_post.scss */
  .pagination-item {
    float: left;
    width: 50%;
  }

  /* line 111, ../../compass/sass/_post.scss */
  .pagination-item:first-child {
    margin-bottom: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  /* line 116, ../../compass/sass/_post.scss */
  .pagination-item:last-child {
    margin-left: -1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
/* line 1, ../../compass/sass/_custom.scss */
img[alt=email] {
  display: inline;
  vertical-align: middle;
}

/* line 6, ../../compass/sass/_custom.scss */
time.post-list {
  display: inline-block;
  min-width: 4rem;
}

/* Outer div */
/* line 12, ../../compass/sass/_custom.scss */
span.datetime {
  width: 1.5rem;
  vertical-align: middle;
}

/* line 19, ../../compass/sass/_custom.scss */
span.datetime p {
  margin: 0;
  padding: 0;
  line-height: 1;
  text-align: center;
  font-size: x-small;
}

/* line 27, ../../compass/sass/_custom.scss */
span.datetime p:first-child {
  text-transform: uppercase;
}

/* Lists */
/* line 2, ../../compass/sass/_style.scss */
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* line 7, ../../compass/sass/_style.scss */
dt {
  font-weight: bold;
}

/* line 10, ../../compass/sass/_style.scss */
dd {
  margin-bottom: .5rem;
}

/* Misc */
/* line 15, ../../compass/sass/_style.scss */
hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

/* line 23, ../../compass/sass/_style.scss */
abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}

/* line 29, ../../compass/sass/_style.scss */
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

/* Quotes */
/* line 35, ../../compass/sass/_style.scss */
blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}

/* line 42, ../../compass/sass/_style.scss */
blockquote p:last-child {
  margin-bottom: 0;
}

/* line 46, ../../compass/sass/_style.scss */
img {
  display: block;
  margin: 1rem auto;
  border: 1px solid #e5e5e5;
  max-width: 90%;
}

/* Tables */
/* line 54, ../../compass/sass/_style.scss */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

/* line 60, ../../compass/sass/_style.scss */
td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

/* line 65, ../../compass/sass/_style.scss */
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

/*
 * Custom type
 *
 * Extend paragraphs with `.lead` for larger introductory text.
 */
/* line 77, ../../compass/sass/_style.scss */
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

/*
 * Messages
 *
 * Show alert messages to users. You may add it to single elements like a `<p>`,
 * or to a parent if there are multiple elements to show.
 */
/* line 90, ../../compass/sass/_style.scss */
.message {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #717171;
  background-color: #f9f9f9;
}

/*
 * Masthead
 *
 * Super small header above the content for site name and short description.
 */
/* line 104, ../../compass/sass/_style.scss */
.masthead {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}

/* line 109, ../../compass/sass/_style.scss */
.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #505050;
}

/* line 114, ../../compass/sass/_style.scss */
.masthead-title a {
  color: #505050;
}

/* line 117, ../../compass/sass/_style.scss */
.masthead-title small {
  font-size: 75%;
  font-weight: 400;
  color: #c0c0c0;
  letter-spacing: 0;
}
